# Site settings
title: 虛無の載體
subtitle: [月島 霧詩]
keywords: kirishi
description: ∅但为君故∅   微信公众号：雨落狂流之暗.
baseurl: ""
url: "https://kirishiqaq.com"
page_no_title: "kirishi's blog"
beian: # "备案号"
author: kirishi
email: kirishiqaq@outlook.com


# Build settings
permalink: /:year/:month/:day/:title/
exclude: ["README.md", "changelog.md", "server", "tools", "Pipfile"]
plugins_dir:
  - jekyll-paginate
  - jemoji
# gems:
#  - jekyll-coffeescript
#  - jekyll-watch
#  - jekyll-assets
gems: [jekyll-paginate]

# always get github's error email saying redcarpet is not supported,
# so change it to kramdown.
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM


# Pageinate settings
paginate: 8 # 分页大小
paginate_path: "page/:num/"

# Search settings
baidu_search: true
google_search: # true

# Menu settings
menu:
  - page: 首页
    directory: .
    icon: icon-home
  - page: 归档
    directory: archives/
    icon: icon-archive
  - page: 标签
    directory: tags/
    icon: icon-tags
  - page: 留言
    directory: guestbook/
    icon: icon-guestbook
  - page: 关于
    directory: about/
    icon: icon-about
#  - page: 订阅
#    directory: feed.xml
#    icon: icon-rss

# Link settings
links: # 友情链接
  - title: Jekyll blog system
    url: http://jekyllcn.com/


# Google Analytics
ga_track_id: 'G-9E7XLYRQ39'            # Format: UA-xxxxxx-xx
ga_domain: auto
# 默认的是 auto


# Code hub settings
codehub: # 代码仓库
  - title: Github
    url: https://github.com/kirishiqaq


#valine:
#  enable: true
#  app_id:  K1rbn2Oo0YMM04VuzdLS7Nzz-gzGzoHsz
#  app_key: AAsHbwVm8ofKFJ6ghGqqrXSU
#  notify: false # mail notifier , https://github.com/xCss/Valine/wiki
#  verify: false # Verification code
#  visitor: true
#  avatar: retro
#  placeholder: say something~~\n - 昵称 为你所要显示的评论的ID；\n - 邮箱 只有后台可见，仅供讨论过程中是否需要交流邮件而设置，请放心填写;\n - 网址 为你的评论的昵称的超链接。\n当然，以上都可以不写，评论依然会显示……
#  guest_info: nick,mail,link
#  pageSize: 10

# Set which comment system to use
comments:
  # 'disqus' / 'giscus' / 'utterances' are available
  provider:            giscus
#https://github.com/mmistakes/minimal-mistakes/pull/3022#issuecomment-869022785:
# JEKYLL_ENV=production jekyll serve
  giscus:
    repo: kirishiqaq/kirishiqaq.github.io
    repo_id:  R_kgDOO3q5SA
    category: General
    category_id: DIC_kwDOO3q5SM4CrMMq
    mapping: pathname # optional, default to 'pathname'
    input_position: bottom
    lang: zh-CN
    reactions_enabled: 1# optional, default to the value of `1`