---
layout: base
---

<!--&lt;!&ndash;valine comment function&ndash;&gt;-->
<!--<script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>-->
<!--<script src="//unpkg.com/valine/dist/Valine.min.js"></script>-->


{% for post in paginator.posts %}
<div class="post">

    <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.title %}
            {{ post.title }}
            {% else %}
            {{ site.page_no_title }}
            {% endif %}
        </a>
    </h2>

    <div class="post-meta">
    <span>
        <i class="icon-post-date"> {{ post.date | date: "%Y年%m月%d日" }}</i>

        <!-- 显示每篇博客阅读量, id 将作为查询条件 -->
        <span id={{post.url}} class="leancloud-visitors" data-flag-title={{post.title}}>
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-text">阅读量 </span>
            <span class="leancloud-visitors-count"></span>
        </span>

        <!-- 随机猫表情会显示在这里 -->
        <span class="random-cat-emoji"></span>

    </span>
    </div>

    <script>
        // 所有猫表情的 HTML 实体编码（猫脸 + 完整身体）
        const catEmojis = [
            '&#x1F63A;', // 😺 咧嘴笑的猫
            '&#x1F638;', // 😸 高兴得笑出泪的猫
            '&#x1F63B;', // 😻 爱心眼的猫
            '&#x1F63D;', // 😽 亲亲的猫
            '&#x1F63C;', // 😼 坏笑/得意的猫
            '&#x1F640;', // 🙀 吃惊/疲惫的猫
            '&#x1F63F;', // 😿 哭哭的猫
            '&#x1F63E;', // 😾 生气的猫
            '&#x1F639;', // 😹 笑哭的猫
            '&#x1F408;', // 🐈 标准猫，四脚着地，有尾巴
            '&#x1F408;&#x200D;&#x2B1B;', // 🐈‍⬛ 黑猫，有尾巴
            '&#x1F406;', // 🐆 豹子（乱入）
            '&#x1F415;'  // 🐕 狗（乱入）
        ];

        // 页面加载完成后执行
        document.addEventListener('DOMContentLoaded', function() {
            // 找到所有需要显示随机猫表情的位置
            const catSpans = document.querySelectorAll('.random-cat-emoji');

            catSpans.forEach(span => {
                // 随机选一个表情
                const randomIndex = Math.floor(Math.random() * catEmojis.length);
                const randomCat = catEmojis[randomIndex];

                // 插入到 span 中
                span.innerHTML = randomCat;
            });
        });
    </script>

    <div class="post-content">{{ post.content | strip_html | truncate:160 }}</div>

    <p class="readmore"><a href="{{ post.url | prepend: site.baseurl }}">阅读更多</a></p>

</div>
{% endfor %}

<!--&lt;!&ndash;初始化Valine&ndash;&gt;-->
<!--<script>-->
<!--    var notify = '{{site.valine.notify}}' === true;-->
<!--    var verify = '{{site.valine.verify}}.>' === true;-->
<!--    var visitor = '{{site.valine.visitor}}.>' === true;-->

<!--    new Valine({-->
<!--        av: AV,-->
<!--        el: '#valine_comment',-->
<!--        notify: notify,-->
<!--        verify: verify,-->
<!--        // smiles_url: '/smiles',-->
<!--        visitor: true,-->
<!--        app_id: '{{site.valine.app_id}}',-->
<!--        app_key: '{{site.valine.app_key}}',-->
<!--        placeholder: '{{site.valine.placeholder}}',-->
<!--        avatar: '{{site.valine.avatar}}',-->
<!--    });-->
<!--</script>-->




<div class="page-navigator">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="/" class="previous">上一页</a>
    {% else %}
    <a href="/page/{{ paginator.previous_page }}/" class="previous">上一页</a>
    {% endif %}
    {% endif %}
    <span class="page-number">第 {{ paginator.page }}/{{ paginator.total_pages }} 页</span>
    {% if paginator.next_page %}
    <a href="/page/{{ paginator.next_page }}/" class="next">下一页</a>
    {% endif %}
</div>


<!--giscus评论插件-->
<!--https://github.com/settings/installations/47603379-->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <script src="https://giscus.app/client.js"
        data-repo="kirishiqaq/kirishiqaq.github.io"
        data-repo-id="R_kgDOO3q5SA"
        data-category="General"
        data-category-id="DIC_kwDOO3q5SM4CrMMq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
      </script>
    </div>
  </div>
</div>

<!--&lt;!&ndash;use clustrMaps&ndash;&gt;-->
<!--<script type="text/javascript" id="clstr_globe"-->
<!--        src="//cdn.clustrmaps.com/globe.js?d=AjthYW1xsC160mPRvz36bECA0Oi2v43aj1tyCOkL_Cc"-->
<!--&gt;-->
<!--        // crossorigin="anonymous"-->
<!--</script>-->
<!--<script type='text/javascript' id='clustrmaps'-->
        <!--src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=3000&t=n&d=AjthYW1xsC160mPRvz36bECA0Oi2v43aj1tyCOkL_Cc'>-->

<!--</script>-->
<!--<a href='https://clustrmaps.com/site/1b6rd'  title='Visit tracker'>-->
    <!--<img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=3000&t=n&d=AjthYW1xsC160mPRvz36bECA0Oi2v43aj1tyCOkL_Cc' width="100%"/>-->
<!--</a>-->
<!--<a href="https://clustrmaps.com/site/1b6rd" title="Visit tracker">-->
<!--<img src="//www.clustrmaps.com/map_v2.png?d=AjthYW1xsC160mPRvz36bECA0Oi2v43aj1tyCOkL_Cc&cl=ffffff" width="100%"/>-->
<!--</a>-->